<html>
	<head>
	</head>
	<body>
		{% block content %}
		<h1>List of Movies</h1>
		<form method='post' novalidate>
			{% csrf_token %}
			<table>
				{{ form.as_table }}
			</table>
			<select>
				{% for movie in list_of_movies %}
				<option value='{{movie.id}}'>{{movie.name}}></option>
				<li><a href="/movies/{{ movie.id }}/">{{ movie.name }}</a></li>
				<li>{{ movie.name }}</li>
				{% endfor %}	
			</select>
		</form>
		{% endblock %}
	</body>
</html> 

